@media (max-width:640px)  { 
    .followCircle{
        opacity: 0;
        mix-blend-mode: unset;
        pointer-events: none;
    }
    #OverlayStar{
        opacity: 0;
    }
    .toggleBtn{
        opacity: 0;
        pointer-events: none;
    }
    .audioPlayer{
        opacity: 0;
        pointer-events: none;
    }
    #heroWrapper{
        width: 100%;
        margin: 0 auto;
    }
    #heroWrapper > h1{
        font-size: 25vw;
    }
    #heroWrapper > div{
        font-size: 5vw;
    }
    #aboutWrapper{
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 35vh auto 0;
    }
    #aboutWrapper > p{
        letter-spacing: 0.4px;
        width: 100%;
    }
    #aboutWrapper > img{
        width: 70%;
        height: 15rem;
        object-fit: cover;
    }
    #projectsCenter{
        display: flex;
        justify-content: center;
        margin-top: 35vh;
        margin-bottom: 35vh;
    }
    #ProjectsWrapper{
        width: 80vw;
        height: auto;
        position: relative;
        display:flex;
        flex-direction: column;
        border:none;
        background-image:none;
    }
    .projectsHero{
        position: absolute;
        width:100%;
        font-size: 10vw;
        top: -15vw;
    }
    .songTitleWrapper{
        opacity: 0;
    }
    .year{
        position: absolute;
        opacity: 0;
    }
    .company{
        border: none;
        width:100%;
        height: 10vh;
    }
    .songs{
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    .playerBtn{
        opacity: 0;
        pointer-events: none;
    }

    .artWork:nth-child(2){
        order:1
    }
    .artWork:nth-child(3){
        order:3
    }
    .artWork:nth-child(4){
        order:5
    }
    .artWork:nth-child(5){
        order:7
    }
    .artWork:nth-child(6){
        order:9
    }
    .artWork:nth-child(7){
        order:11
    }
    p:nth-child(1 of .company){
        order:2
    }
    p:nth-child(2 of .company){
        order:4
    }
    p:nth-child(3 of .company){
        order:6
    }
    p:nth-child(4 of .company){
        order:8
    }
    p:nth-child(5 of .company){
        order:10
    }
    p:nth-child(6 of .company){
        order:12
    }
}