body{
  background-color: var(--background-color);
  font-family: 'ObjectSans';
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.head{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.5px solid var(--border-color);
}
.head > * {
  font-size: min(1rem,3vw);
  margin:min(1rem,3vw) auto;
  z-index: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  color:var(--text-main-color);
}
.head > a:hover u{
  text-decoration: none;
}
.head > a:hover {
  color:var(--text-accent-color);
}
.logo{
  user-select: none;
  padding:0 1em;
  max-width: 4em;
}

/* main */
#TextAnimation{
  font-family: 'Playfair';
  font-size: min(25vw,13rem);
  white-space: nowrap;
  color:var(--text-dark-color);
  text-align: center;
  margin-left: -100%;
  margin-right: -100%;
  user-select: none;
  overflow:hidden;
  margin-top: max(-5vw,-4rem);
}
.char{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.youtube-container {
  user-select: none;
  border:1px solid var(--border-color);
  width: min(80vw,750px);
  padding-bottom: min(45vw,421px);
  margin: max(-12vw,-7rem) auto 0;
  z-index: 0;
}

.youtube-container iframe,.youtube-container object,.youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoDesc{
  position:absolute;
  font-size: 0.8rem;
  width: fit-content;
  color:var(--text-main-color);
  display: none;
  margin: -17rem auto 0 calc((100vw - 750px)/4 * 2.5 + 750px);
}

/* footer */
footer{
  height:5rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-top: 0.5px solid var(--border-color);
  width:min(80vw,calc(calc(21rem * 0.66) + 27rem + 10vw));
  margin:1rem auto 0;
}
.bottomLogo{
  height: 2rem;
  opacity: 50;
  transition:transform 0.2s;
}
.bottomLogo:hover{
  transform: rotate(90deg);
}
.copy{
  color:var(--text-main-color);
  font-family: 'Playfair';
  font-size: 0.75rem;
}

@media screen and (min-width: 1020px) {
  .videoDesc{
    display:initial;
  }
}
@media screen and (max-width: 800px){

}