/* header */
.head{
  background-color: var(--background-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.5px solid var(--border-color);
}
.head > * {
  font-size: min(1rem,3vw);
  margin:min(1rem,3vw) auto;
  z-index: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-main-color);
}
.head > a:hover u{
  text-decoration: none;
}
.head > a:hover {
  color: var(--text-accent-color);
}
.logo{
  user-select: none;
  padding:0 1em;
  max-width: 4em;
}


/* Main About */
body{
  color: var(--text-main-color);
  font-size: 1.2rem;
  background-color: var(--background-color);
  font-family: 'ObjectSans';
  overflow-x:hidden;
}
#Hero{
  font-family: 'Playfair';
  font-size: min(20vw , 13rem);
  text-align: center;
  user-select: none;
  position:relative;
}
#Hero::after{
  content: "";
  background: var(--text-main-color);
  position: absolute;
  top: 110%;
  left: 40%;
  height: 1px;
  width: 20%;
}

.bioContainer{
  margin:9rem 10vw 0;
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}
.bio{
  flex-basis: 65%;
  max-width: 27rem;
  padding:auto 0;
  font-family: 'CormorantInfant';
}

.photo1{
  width: calc(21rem * 0.66);
  object-fit: cover;
  filter: grayscale(53%) hue-rotate(360deg);
  clip-path: inset(0% 0% 0% 0%);;
}

.logos{
  padding-left: 3rem;
  width: calc(21rem * 0.66);
  height: 3rem;
}
.Logo{
  position:absolute;
  height: 3rem; /* Must be same size as parent div to allign*/
  width: 3rem; /* Must be same size as parent div to allign*/
  filter: invert(55%) sepia(40%) saturate(259%) hue-rotate(174deg) brightness(92%) contrast(88%);
}

.bioEnd{
  text-align: center;
  margin:10rem 10vw 3rem;
  font-family: 'CormorantInfant';
}
.bioEnd a{
  color:var(--text-accent-color)
}
.bioEnd a:hover{
  border-bottom: 1px solid var(--text-accent-color);
}


.Hero2{
  font-family: 'Playfair';
  font-size: 5rem;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  line-height: 0.9;
}

.decoWrapper{
  overflow: hidden;
  position:absolute;
  display:flex;
  transform: translate(-50%,-50%) rotate(-45deg);
  top:0;
  left:20vw;
  z-index: -5;
}

.noise {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 1;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/* footer */
footer{
  height:5rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-top: 0.5px solid var(--border-color);
  width:min(80vw,calc(calc(21rem * 0.66) + 27rem + 10vw));
  margin:0 auto;
}
.socials{
  display:flex;
  gap: 1rem;
}
.socials svg{
  display:flex;
  gap: 1rem;
  filter: invert(55%) sepia(40%) saturate(259%) hue-rotate(174deg) brightness(92%) contrast(88%);
}
.socials svg:hover{
  filter: invert(76%) sepia(5%) saturate(731%) hue-rotate(173deg) brightness(101%) contrast(93%);
}
.copy{
  color:var(--text-main-color);
  font-family: 'Playfair';
  font-size: 0.75rem;
}


@media screen and (max-width: 700px) {
  .bio{
    order: 2;
  }
  .logos{
    order: 1;
    padding-left: 0rem;
    padding-bottom: 7rem;
    padding-top: 5rem;
    width: 3rem;
  }
  .bioContainer{
    margin:3rem 10vw 0;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    justify-content: center;
  }
  .bioEnd{
    margin:4rem 10vw 3rem;
  }
}