/* Main CSS */
body{
  background-color: var(--background-color);
  color: var(--text-main-color);
  overflow-x:hidden;
}
main{
  position: relative;
  visibility: hidden;
}

/* header */
.head{
  font-family: 'ObjectSans';
  background-color: var(--background-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.5px solid var(--border-color);
}
.head > * {
  font-size: min(1rem,3vw);
  margin:min(1rem,3vw) auto;
  z-index: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-main-color);
}
.head > a:hover u{
  text-decoration: none;
}
.head > a:hover {
  color: var(--text-accent-color);
}
.logo{
  user-select: none;
  padding:0 1em;
  max-width: 4em;
}

/* main Project */
.hero{
  width:100%;
}
.hero h1{
  font-family: 'Playfair';
  font-size: min(20vw , 13rem);
  text-align: center;
  user-select: none;
}

/* Background Animation Shapes */
.shapes1{
  position: absolute;
  top:-5vw;
  right:-5vw;
  z-index: -5;
}
.shapes2{
  position: absolute;
  top:24vw;
  left:-15vw;
  z-index: -5;
}
.shape{
  z-index: -5;
  height:50vw;
  width: 50vw;
  border:2px solid var(--text-main-color);
  transform: translate(-50%,-50%);
  opacity: 50%;
  position: absolute;
}
.circle{
  border-radius:100%;
  transform: translate(-50%,-50%) scale(0.8) rotate(45deg);
}
.diamond{
  transform: translate(-50%,-50%) rotate(45deg);
}

/* Games Works */
.worksWrapper{
  font-family: 'CormorantInfant';
  text-transform: uppercase;
  margin:2rem 0;
  color: var(--background-color);
  position: relative;
  overflow: hidden;
}
/* Whiteout Selection Color */
.worksWrapper *::-moz-selection { /* Code for Firefox */
  color: var(--text-main-color);
  background: var(--background-color);
}
.worksWrapper *::selection {
  color: var(--text-main-color);
  background: var(--background-color);
}

.worksBackground{
  position: absolute;
  width:100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translate(3vw,0);
  z-index: -3;
  background-color: var(--text-main-color);
}
.worksBackground > h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25vw;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  opacity: 0.5;
  position:absolute;
  line-height: 80%;
  top:0vw;
  right:0vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--background-color);
  color: transparent;
  user-select: none;
}

.games{
  display:flex;
  align-items: center;
  padding-left: calc(3vw + 20px);
  padding-top: 20px;
}
.MarkerCircle{
  width:3rem;
  height:3rem;
  border-radius: 100%;
  background-color: var(--text-accent-color);
}
.games > h1{
  margin-left: 1rem;
  font-size: 1rem;
}
.date{
  text-align: right;
}

.imgContainer{
  margin:2rem auto;
  width: min(80vw,50rem);
  position:relative;
}
.imgContainer img{
  border-radius: 10px;
  width: 100%;
  margin:2rem 0;
  position:relative;
  transition: transform 0.1s ease-out;
  filter: drop-shadow(5px 5px 10px #00000038);
}
.imgContainer a:hover img{
  transform: scale(0.98);
}
.imgContainer a{
  user-select: none;
}
.imgContainer h1::after{
  content: "";
  position:absolute;
  left:0;
  top:3rem;
  height:1px;
  width: 100%;
  background-color: var(--background-color);
}

/* Personal Projects */
.projectsWrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectsWrapper h1{
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  border-bottom: 0.5px solid var(--border-color);
}

.cardWrapper{
  padding: 0 calc((100vw - min(50vw, 500px))/ 2);
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  gap: 10vw;
}

.card{
  padding-left: 10px;
  border-left: 1px solid var(--text-main-color);
  flex-shrink: 0;
  width:min(50vw, 500px);
}
.card p{
  margin: 2rem 0 0;
}
.videoContainer{
  flex-shrink: 0;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.videoContainer iframe,.videoContainer object,.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer */
footer{
  height:5rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-top: 0.5px solid var(--border-color);
  width:min(80vw,calc(calc(21rem * 0.66) + 27rem + 10vw));
  margin:0 auto;
}
.socials{
  display:flex;
  gap: 1rem;
}
.socials svg{
  display:flex;
  gap: 1rem;
  filter: invert(55%) sepia(40%) saturate(259%) hue-rotate(174deg) brightness(92%) contrast(88%);
}
.socials svg:hover{
  filter: invert(76%) sepia(5%) saturate(731%) hue-rotate(173deg) brightness(101%) contrast(93%);
}
.copy{
  color:var(--text-main-color);
  font-family: 'Playfair';
  font-size: 0.75rem;
}

@media only screen and (max-height: 500px) and (min-width: 800px){
  .projectsWrapper h1{
    padding-top: 0rem;
    line-height: 1.2;
  }
  footer{
    height:3rem;
  }
  .card{
    display: flex;
    width:90vw;
    gap: 10%;
    align-items: center;
  }
  .card p{
    margin: 10px 0 0;
    width: 45%;
  }
  .videoContainer{
    flex-shrink: 0;
    width: 45%;
    height: 0;
    position: relative;
    padding-bottom: 25.3125%;
    overflow: hidden;
  }
}